#champions-possedes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.champion-img {
    cursor: pointer;
    margin: 5px;
    width: 60px;
}

.champion-img[ignorer="true"] {
    opacity: 0.5;
}

.champ-menu {
    display: flex;
    align-items: center;
}

.champ-menu > .button-box {
    margin-left: 11px;
    color: grey;
}

.champ-menu > .button-box > i {
    cursor: pointer;
}