#loading-api-container:not(.hide) {
    display: flex;
    align-items: center;
}

.fullscreen:not(.hide) {
    z-index: 1337;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#loading-api {
    width: 90%;
    max-width: 400px;
    margin: auto;
}


#loading-api .collection {
    padding-top: 15px;
    background: none;
    border: none;
}

#loading-api .collection-item {
    background: inherit;
    height: auto;
}