.item-description {
    line-height: 1.2em;
    font-size: 0.96em;
}

.item-description > i {
    color: grey;
}

.item-description > unique, .item-description > aura, .item-description > active, .item-description > passive {
    width: 100%;
    color: #1a237e; /* indigo darken-4 */
}

.item-description > grouplimit {
    color: red;
}

.webui-popover-title img {
    height: 2em;
    position: absolute;
}