html, body {
    height : 100%;
    margin: 0;
    padding: 0;
}

.model {
    display: none;
}

.hide {
    opacity: 0;
    display: none;
}

ul.tabs, ul.tabs > li.tab {
    background: none; /* Ne masque pas l'ombre de la navbar */
}

.fixed-buttons-stack > a:not(:first-child) {
    margin-left: 15px;
}

.float-button-desc {
    display: block;
    position: absolute;
    top: 5px;
    right: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 5px;
    font-size: 0.7em;
    line-height: 1.2em;
    padding: 5px;
    min-width: 100px;
}