.result {
    margin-top: 40px;
}

@media only screen and (max-width : 600px) {
    .champ-loader {
        padding: 0;
        position: fixed;
        left: 0px;
        top: 0px;
        opacity: 0.2;
        z-index: -1;
    }
}

h3.champ-name {
    margin-bottom: 0px;
}

h5.champ-citation {
    margin-top: 0px;
    color: lightgrey;
}

.build {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


.progress {
    transition-duration: 1s;
    margin-top: 5px;
    height: 10px;
}

.build > div {
    margin: 2px;
    flex-basis: 80px;
    flex-shrink: 1;
}

.build > div > img {
    width: 100%;
}
